<button style="position: fixed"
  class="fixed pointer-events-none"
  [style.top.px]="top"
  [style.left.px]="left"
  [matMenuTriggerFor]="menu"></button>
<mat-menu #menu="matMenu">
  <ng-container *ngFor="let action of filteredActions">
    <ng-container *ngIf="hasChildren(action)">
      <button
        [disabled]="isDisabled(action)"
        *ngIf="subMenu.childMenu"
        mat-menu-item
        [matMenuTriggerFor]="subMenu.childMenu">
        <mat-icon *ngIf="action.icon" [svgIcon]="action.icon"></mat-icon>
        <span>{{ getActionLabel(action) }}</span>
      </button>
      <app-context-menu-item [item]="item" [actions]="action.children!" #subMenu></app-context-menu-item>
    </ng-container>
    <ng-container *ngIf="!hasChildren(action)">
      <button [disabled]="isDisabled(action)" (click)="callback(action)" mat-menu-item>
        <mat-icon *ngIf="action.icon" [svgIcon]="action.icon"></mat-icon>
        <span>{{ getActionLabel(action) }}</span>
      </button>
    </ng-container>
  </ng-container>
</mat-menu>
